html {
  font: 1.1em/1.3 "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
}

body {
  background-color: #fff;
  color: #333;
  padding: 20px;
}

.mainheader,
.mainfooter {
  background-color: #f2f2f2;
  padding: 10px;
  border: 1px solid #ccc;
}

.sidebar {
  background-color: #ccc;
  padding: 10px;
}

img {
  max-width: 100%;
}

figure {
  margin: 0;
  padding: 0;
}
